ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 25%;
    min-height: 315px;
    animation: showUp 1s ease;
}

span.text {
    min-height: 55px;
    margin: 10px 0;
}


@keyframes showUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}