@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2b2d42;
  color: hsl(0, 0%, 100%);
  font-family: 'lato', sans-serif;
}

button {
  cursor: pointer;
  text-align: center;
  background-color: crimson;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
}